# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

**Objectives**:



*   List popular languages for Data Science
*   List popular libraries for Data Science
*   List evaluate operations in Python
*   List data science tools used

Some of the commonly used libraries used by Data Scientists include:

1. ggplot
2. pandas
3. matplotlib
4. seaborn

Data Science Tools |
-------------------|
Jupyter
Apache Spark
Github

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author:
Willis Ong